@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  background: rgb(233, 229, 220);
}

.banner {
  background-image: url("images/astronaut-edited.jpg");
  background-size: cover;
  background-position: center;

  width: max(35vw, 170px);
  height: 100vh;

  text-align: center;

  display: flex;
  flex-direction: column;

  /*Brings banner to front so to avoid overlap with form shadow*/
  z-index: 1;
}

.banner-logo {
  font-family: "Orbitron", "Roboto", sans-serif;

  margin-top: 19vh;
  background-color: rgba(0, 0, 0, 0.158);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 10px 10px 10px;
}

.logo-top img {
  height: max(3.8vw,28px);
}

.logo-top h1 {
  font-size: max(3.8vw, 28px);
}

.banner-logo h2 {
  font-size: max(0.8vw, 10px);
}

.logo-top {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  flex-shrink: 1;
}

.banner-footer {
  margin-top: auto;
  margin-bottom: 1rem;
  color: rgb(165, 120, 7);
  text-shadow: 0 0 2px black;
}

.banner-footer a {
  color: rgb(226, 177, 51);
  text-shadow: 0 0 2px rgb(0, 0, 0);
}

.content {
  font-size: 1.5em;
}

.hero-text {
  margin-top: 15vh;
  padding-left: 5vw;
  padding-right: 20vw;
  color: rgb(27, 27, 27);
  font-weight: 300;
}

.hero-text p:nth-child(2) {
  margin-top: 2rem;
}

.fieldset-wrapper {
  background-color: rgb(247, 245, 241);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
  height: 40vh;
  margin-top: 2rem;
  padding-left: 5vw;
  overflow: auto;
}

fieldset {
  border: none;
}

legend {
  padding-top: 5vh;
  font-weight: 600;
}

section {
  margin-top: 2.5vh;
  display: flex;
  gap: 8vw;
}

label {
  font-size: 1.2rem;
  color: rgb(61, 61, 61);
}

input {
  appearance: none;
  border-radius: 5px;
  border-color: black;
  width: 250px;

  font-size: 1.3rem;

  padding-left: 0.5em;
}

input:focus {
  outline-color: rgb(255, 185, 92);
}

section div {
  display: flex;
  flex-direction: column;
}

fieldset section:last-child {
  margin-bottom: 5vh;
}

button {
  margin-top: 3vh;
  margin-left: 5vw;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5rem 1rem;

  appearance: none;
  border-radius: 8px;
  border: 2px solid black;
  background: rgb(255, 185, 92);
}

button:hover {
  background: rgb(187, 136, 69);
}

button:active {
  transform: scale(0.95);
}

.content p:nth-child(3) {
  font-size: 1rem;
  margin-top: 2vh;
  padding-left: 5vw;
}

p a {
  color: black;
  text-shadow: 0 0 5px rgb(255, 185, 92);
}